html
  head
    meta(property='og:title', content=translations["share.siteName"])
    meta(property='og:type', content='website')
    meta(property='og:url', content=baseUrl)
    meta(property='og:image', content=config.socialshare.image)
    meta(property='og:site_name', content=translations["share.siteName"])
    meta(property='og:description', content=translations["share.siteDescription"])
