- var title = translations["share.siteName"]
- if (topic.mediaTitle) title = `${topic.mediaTitle} | ${translations["share.siteName"]}`
- var image = topic.coverUrl ? topic.coverUrl : config.socialshare.image

html
  head
    meta(property='og:title', content=title)
    meta(property='og:type', content='website')
    meta(property='og:url', content=url)
    meta(property='og:image', content=image)
    meta(property='og:site_name', content=translations["share.siteName"])
    meta(property='og:description', content=translations["share.siteDescription"])
